<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8">
	<title>Mi Primer AngularJS</title>
	<link rel="stylesheet" href="styles.css">
</head>

<body ng-controller="FirstController">
	<input type="text" ng-model="nuevoPost.title" placeholder="Titulo">
	<input type="text" ng-model="nuevoPost.body" placeholder="Cuerpo">
	<button ng-click="addPost()">Enviar</button>

	<ul>
		<li ng-repeat="post in posts">
			<h2>{{post.title}}</h2>
			<p>{{post.body}}</p>			
		</li>
	</ul>

	<script src="angular.min.js" type="text/javascript"></script>	 
	<script src="script1.js" type="text/javascript"></script>
</body>
</html>