<form ng-submit="savePost()">
	<div class="card top-space" >
		<div class="p+">
		<h1>{{title}}</h1>
			<div flex-container="row">
				<div flex-item>
					<lx-text-field label="Title:">
						<input type="text" name="" ng-model="post.title">
					</lx-text-field>
				</div>				
			</div>
			<div flex-container="row">
				<div flex-item>
					<lx-text-field label="Body:">
						<textarea name="" id="" cols="30" rows="10" ng-model="post.body"></textarea>
					</lx-text-field>
				</div>				
			</div>
		</div>
		<div class="card-action">
			<button type="submit" class="btn btn--blue btn--l btn--raised">Guardar</button>
		</div>
	</div>
</form>